:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

* {
  margin:0;
  padding: 0;
}

body {
  display: flex;
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color:var(--text-base);
  margin-top: 30px;
  margin-left:30px;
  background-image: url(images/side-image-2x.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50vw;
  background-size:cover;
  width: 100%;
  height: 100vh;
}

main {
  display:flex;
  align-items: center;
  justify-content: center;
}
.container {
  display:flex;
  max-width: 1280px;
  margin: 0 auto;

}

.logo {
  display:flex;
  flex-direction: column;
}

form {
  background-color: var(--form-background);
  max-width: 500px;
  height: 250px;
  padding: 30px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

#login {
  color:var(--text-title);
  font-size:24px;
}

.column {
  display:flex;
  flex-direction: column;
}

.input{
  width: 100%;
  border:var(--text-base);
  border-radius: 2px;
  height: 20px;

  outline:none;
}

#input-email {
  background-image: url(images/mail.svg);
  background-repeat: no-repeat;
  
}

#input-senha {
  background-image: url(images/lock.svg);
  background-repeat: no-repeat;
}

.flex{
  display: flex;
}

form button {
  text-align: center;
}

